<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Payment Invoice</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="bg-gray-900 h-screen w-screen flex justify-center overflow-auto">
        <div class="bg-white w-full md:w-1/2 pb-20 h-auto flex flex-col border-b-8 border-b-blue-600 my-8" style="height: 60em;">
            <div
                class="w-full bg-blue-400 h-40 flex flex-col md:flex-row items-center md:items-start justify-between p-8 text-white">
                <h1 class="capitalize font-bold text-center text-3xl">saleh farouq</h1>
                <div class="flex flex-col items-center md:items-end text-sm w-full md:w-3/5"
                    style="font-variant: small-caps;">
                    <span class="leading-tight text-right md:text-right">Gwarzo Road | Bayero University Kano,
                        Nigeria</span>
                    <span class="leading-tight text-right md:text-right">https://github.com/mminuwaali |
                        mminuwaali@gmail.com</span>
                    <span class="leading-tight text-right md:text-right">+234 80 602 302 85 | +234 70 833 009 56</span>
                </div>
            </div>
            <div class="flex flex-col items-center justify-center p-6">
                <h2 class="text-5xl font-thinbold">invoice</h2>
                <span class="text-gray-400">#INV-001</span>
                <span class="font-bold">07/12/2022</span>
            </div>
            <div class="flex border-b-2 border-b-gray-300 p-1 mx-8 text-sm gap-4">
                <span class="capitalize text-gray-300 whitespace-nowrap w-36">due date:</span>
                <span class="capitalize text-gray-500 w-full font-bold">12/12/2022</span>
                <span class="capitalize text-gray-500 w-2/4 font-bold">bill no</span>
            </div>
            <div class="flex p-1 mx-8 text-sm gap-4">
                <div class="capitalize text-gray-300 whitespace-nowrap w-36">net</div>
                <div class="capitalize text-gray-500 w-full font-bold">21</div>
                <div class="capitalize text-gray-500 w-2/4 flex flex-col items-start text-sm">
                    <span class="font-bold capitalize">bayero university kano</span>
                    <span class="capitalize leading-none">2022 gwarzo road</span>
                    <span class="capitalize leading-none">kano state, nigeria</span>
                    <span class="capitalize leading-none">+234 80 602 302 85</span>
                </div>
            </div>
            <div class="mx-8 flex flex-col mt-6">
                <div class="w-full bg-gray-200 border-b-2 border-blue-400 font-bold capitalize flex gap-1 items-center text-sm">
                    <div class="w-8 h-8 flex items-center justify-center"></div>
                    <div class="w-full">registration number</div>
                    <div class="w-20">action</div>
                </div>
                {% for member in members %}
                <div class="w-full {% if forloop.counter|divisibleby:2 %} bg-gray-200 {% endif %} capitalize flex gap-1 items-center text-sm">
                    <div class="w-8 h-8 flex items-center justify-center">{{ forloop.counter }}</div>
                    <div class="w-full">{{member.reg_number}}</div>
                    <div class="w-20 text-blue-500 lowercase"><a href="{% url 'detail' member.id %}">see more</a></div>
                </div>
                {% empty %}
                <div class="w-full capitalize flex gap-1 items-center text-sm">
                    <div class="w-8 h-8 flex items-center justify-center"></div>
                    <div class="w-full">no members</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>